{% extends 'base.html.twig' %}

    {% block ekintzak %}
        <li><a href="{{ path('ibilgailua_new') }}">
                <i class="fa fa-plus-circle"></i> {{ 'messages.ibilgailuberria' |trans }}</a></li>
        {{ parent() }}
    {% endblock %}

{% block body %}
    <h1>{{ 'messages.ibilgailuak' |trans }}</h1>
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'messages.kodea' |trans }}</th>
                <th>{{ 'messages.marka' |trans }}</th>
                <th>{{ 'messages.modeloa' |trans }}</th>
                <th>{{ 'messages.rutakolorea' |trans }}</th>
                <th>{{ 'messages.ekintzak' |trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for ibilgailua in ibilgailuas %}
            <tr>
                <td>{{ ibilgailua.kodea }}</td>
                <td>{{ ibilgailua.marka }}</td>
                <td>{{ ibilgailua.modeloa }}</td>
                <td>{{ ibilgailua.rutakolorea }}</td>
                <td>
                    <ul class="list-unstyled list-inline">
                        <li><a href="{{ path('ibilgailua_edit', { 'id': ibilgailua.id }) }}">
                                <i class="fa fa-pencil-square-o"></i></a></li>
                        <li><a href="{{ path('ibilgailua_track', { 'id': ibilgailua.id, eguna: gaur }) }}">
                                <i class="fa fa-map-marker"></i></a></li>
                        <li><a href="{{ path('ibilgailua_show', { 'id': ibilgailua.id, eguna: gaur }) }}">
                                <i class="fa fa-info-circle "></i></a></li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
