{% extends 'base.html.twig' %}

    {% block ekintzak %}
        <li>
            <a href="{{ path('ibilgailua_index') }}" ><i class="fa fa-undo"></i> {{ 'messages.zerrendara' |trans }}</a>
        </li>
        <li><a href="#" onclick="document.forms['{{ form.vars.name }}'].submit()" class="fa fa-floppy-o"> {{ 'messages.gorde' |trans }}</a></li>
        {{ parent() }}
    {% endblock %}

{% block body %}
    <h1>{{ 'messages.ibilgailuberria' |trans }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        {#<input type="submit" value="Create" />#}
    {{ form_end(form) }}

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('ibilgailua_index') }}">Back to the list</a>#}
        {#</li>#}
    {#</ul>#}
{% endblock %}
